.ideaItem {
  width: 345px;
  max-height: 450px;
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.MuiAvatar-colorDefault {
  background: #f50057 !important;
}

.cardMedia {
  height: 170px;
  width: 200px;
  padding: 0;
  background-size: contain;
  margin: auto;
  border-radius: 6px;
}

.paragraph {
  padding-top: 30px;
}

.iconDelete {
  color: rgba(0, 0, 0, 0.54);
  text-align: end;
  display: block;
  cursor: pointer;
}
