.footer {
  margin: auto;
  background-color: #3f51b5;
  color: #fff;
  width: 100%;
  max-width: 100%;
  padding: 15px 0;
  position: sticky;
  left: 0;
  bottom: 0;
}

.footerContainer {
  display: flex;
  align-items: center;
}

.footerIcons {
  text-align: center;
}
